<div *ngIf="!loggingOut && dialogData.type == 'logout'">
  <div mat-dialog-content>
    <p mat-dialog-title>Are you sure you want to logout?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onNoClick()">No</button>
    <button mat-button (click)="onYesClick()">Yes</button>
  </div>
</div>

<div *ngIf="loggingOut">
  <div class="d-flex justify-content-center">
    <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
  </div>
  <p class="h3 text-center">Logging out...</p>
</div>

<div *ngIf="dialogData.type == 'checkOut'">
  <p mat-dialog-title >Are you sure you want to check out this user?</p>
  <div mat-dialog-content >
    This user is supposedly to check out on <strong>{{dialogData.checkOut | date: 'fullDate'}}</strong>
  </div>
  <div mat-dialog-actions >
    <button [disabled]="isLoading" (click)="onYesCheckOut()" mat-raised-button class="btn mx-1" color="accent" >Yes</button>
    <button class="btn btn-light mx-1" (click)="onNoClick()" >No</button>
  </div>
</div>

<div *ngIf="dialogData.type == 'deleteBanner'">
  <p mat-dialog-title >Are you sure you want to delete this Banner?</p>
  <div mat-dialog-content >
    This action cannot be undone!
  </div>
  <div mat-dialog-actions >
    <button [disabled]="isLoading" (click)="deleteBanner()" mat-raised-button class="btn mx-1" color="accent" >Yes</button>
    <button class="btn btn-light mx-1" (click)="onNoClick()" >No</button>
  </div>
</div>

<div *ngIf="dialogData.type == 'deleteRoom'">
  <p mat-dialog-title >Are you sure you want to delete the details of this Room?</p>
  <div mat-dialog-content >
    This action cannot be undone!
  </div>
  <div mat-dialog-actions >
    <button [disabled]="isLoading" (click)="deleteRoom()" mat-raised-button class="btn mx-1" color="accent" >Yes</button>
    <button class="btn btn-light mx-1" (click)="onNoClick()" >No</button>
  </div>
</div>

<div class="" *ngIf="dialogData.type == 'previewBanner'">
  <img class="d-block w-100" src="assets/images/{{dialogData.banner}}" alt="First slide">
  <div class="carousel-caption mb-5 pb-5">
    <div class="mb-5 pb-5 animate__animated animate__slideInUp animate__slow">
      <!-- <h1 class="text-danger"><span class="font-weight-bold">$3.500</span> / per month</h1> -->
      <h1 class="caption text-uppercase font-weight-bold">{{dialogData.caption}}</h1>
      <p class="h4 subCaption text-uppercase"><strong>{{dialogData.subCaption}}</strong></p>
      <button mat-raised-button color="primary" class="btn btn-lg text-uppercase text-white mb-5 mt-3">book now</button>
       </div>
  </div>
</div>

<div class="" *ngIf="dialogData.type == 'previewRoom'">
  <div class="container">
    <div class="col-12">
      <div class="card roomCard">
        <img src="assets/images/{{dialogData.roomPic}}" alt="" class="card-img-top img">
        <div class="card-body">
          <div class="h5 card-title text-center text-uppercase">
            {{dialogData.room_category}}
          </div>
          <div class="card-text text-center text-muted">
            <p>{{dialogData.price | currency: 'NGN': 'symbol-narrow'}}/ per night</p>
            <p>{{dialogData.numOf_available_rooms}} rooms available</p>
          </div>
          <div class="d-flex justify-content-center">
            <button mat-raised-button style="background-color: purple; color: white;" >Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
