<app-navbar></app-navbar>
<div class="container w-50 pt-5">
  <div class="row pt-5">
      <div class="intro col-md-4">
          <h1 class="text-capitalize p-5 text-white">book a room</h1>
          <h4 class="text-white pr-5 pl-5">
              Welcome to Linc Hotels and Resorts. A place of Luxury
          </h4>
          <h5 class="text-white p-5 mt-5">
              Linc
          </h5>
      </div>
      <div class="col-md-8 bg-light">
        <form action="" class="container pt-5" (ngSubmit)="bookNow()" [formGroup]="bookRoom">
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="error !== ''">
            <button type="button" class="close" data-dismiss="alert" (click)="dismissAlert()">&times;</button>
            <strong>Error!</strong> {{error}}
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill" class="w-50 p-1">
              <mat-label>Check In</mat-label>
              <input type="date" matInput formControlName="checkIn" (change)="checkDateDiff()">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-50 p-1">
              <mat-label>Check Out</mat-label>
              <input type="date" matInput formControlName="checkOut" (change)="checkDateDiff()">
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill" class="w-50 p-1">
              <mat-label>Number of Rooms</mat-label>
              <input type="text" matInput formControlName="numOfRooms">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-50 p-1">
              <mat-label>Number of Guests</mat-label>
              <input type="text" matInput formControlName="numOfGuests">
            </mat-form-field>
          </div>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Room Category</mat-label>
              <select matNativeControl required formControlName="roomCategory">
                <option value="{{each}}" *ngFor="let each of categories">{{each}}</option>
              </select>
            </mat-form-field>
          <!-- <div class="form-group">
            <label for="">Room Category</label>
            <select name="" id="" class="form-control" formControlName="roomCategory">
              <option value="">Select a Room</option>
              <option value="{{each}}" >{{each}}</option>
            </select>
          </div> -->
          <button type="submit" mat-raised-button style="background-color: purple; color: white;" class="btn-block"><span [class.d-none]="dontShowWord">Book Now </span> <span class="spinner-border spinner-border-sm" [class.d-none]="noSpinnerShow"></span></button>
          <a href="/user/dashboard" class="float-right pt-1 font-weight-bold" style="color: purple;">Go back Home?</a>
       </form>

      </div>
  </div>
</div>
