<!-- <p>profile works!</p>
<div>
  <img src="assets/images/{{profile.profilePic}}" class="rounded-circle" width="100px" height="100px" alt=""><br>
  <input type="file" name="pic" id="userPic" (change)="uploadPic($event)" class="d-none">
  <button class="btn btn-purple" (click)="takePic()">Take a Picture</button>
</div>
<hr>
<fieldset class="w-75">
  <legend>Personal information:</legend>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" id="fname" value="{{profile.firstName}}" disabled>
    </div>
    <div class="form-group col-6">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" id="lname" value="{{profile.lastName}}" disabled>
    </div>
  </div>
</fieldset>
<fieldset class="w-75">
  <legend>Contact information:</legend>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" class="form-control" id="mobileNumber" value="{{profile.mobileNumber}}">
    </div>
    <div class="form-group col-6">
      <label for="email">Email Address:</label>
      <input type="text" class="form-control" id="email" value="{{profile.email}}">
    </div>
  </div>
  <button class="btn btn-purple" (click)="editProfile()">Edit Profile</button>
</fieldset> -->

<!-- Update Profile Picture -->
<div>
  <mat-spinner [diameter]="35" ></mat-spinner>
  <img [src]="dialogData.picture" alt="profile_pic"  class="rounded-circle shadow" width="150px" height="150px">
  <input type="file" name="pic" id="userPic" (change)="uploadPic($event)" class="d-none">
  <div class="d-flex justify-content-center">
    <button class="btn btn-purple mx-1" (click)="takePic()" >Change</button> 
    <button class="btn mx-1" (click)="onCancel()" >Cancel</button>
  </div>
</div>