.intro{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(189, 31, 149, 0.9)), url("/assets/images/backgroundHotel.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
